//$ ==> engage section styles 

.engage-section {
	background: #08153f;
	padding: 5% 0;
	h2 {
		color: #fff;
		margin-top: 0;
	}
	.engage-box {
		color: #fff;
		margin-top: 10%;
		img {
			margin: 0 auto;	
			margin-bottom: 30px;	
		}
	}
}